<div class="container">
  <div fxLayout="row" fxLayoutAlign="space-around stretch" fxLayoutGap="5%"> <!-- Reduce the spacing between columns -->
    <!-- Column 1 -->
    <div fxFlex="20%"> <!-- Adjusted fxFlex value -->
      <mat-card class="column-card">
        <mat-card-header>
          <mat-card-title>Choose the Race</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-dropdown-menu></app-dropdown-menu>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- Column 2 -->
    <div fxFlex="40%" fxLayout="column" fxLayoutAlign="center stretch">
      <mat-card class="column-card">
        <mat-card-header>
          <mat-card-title>Race Results</mat-card-title>
        </mat-card-header>
        <br>
        <br>
        <mat-card-content>
          <div class="podium-container">
            <app-podium></app-podium>
            <br>
            <div class="overflow-x-auto">
              <app-race-results-table></app-race-results-table>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>


    <!-- Column 3 -->
    <div fxFlex="25%"> <!-- Adjusted fxFlex value -->
      <mat-card class="column-card">
        <mat-card-header>
          <mat-card-title>Winner Info</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-winner-info-card></app-winner-info-card>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
